@media screen and (max-width: 1000px) {

    header{
        /* padding: 10px; */
        text-align: center;
        margin: auto;
        padding: 20px 50px;
    }
    #header-div{
        flex-direction: column;
        /* height: auto; */
        align-items: center;
        width: 100%;
        margin: auto;
    }

    #header-text h2{
        font-size: 2em;
        text-align: center;
        margin: auto;
    }

    #header-div img{
        width: 100%;
    }

    #header-text button{
        width: 100%;
    }
}